@font-face {
    font-family: 'Neue Montreal Bold';
    src: url('fonts/NeueMontreal-Bold.eot');
    src: url('fonts/NeueMontreal-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/NeueMontreal-Bold.woff2') format('woff2'),
    url('fonts/NeueMontreal-Bold.woff') format('woff'),
    url('fonts/NeueMontreal-Bold.ttf') format('truetype'),
    url('fonts/NeueMontreal-Bold.svg#NeueMontreal-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal Medium';
    src: url('fonts/NeueMontreal-Medium.eot');
    src: url('fonts/NeueMontreal-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/NeueMontreal-Medium.woff2') format('woff2'),
    url('fonts/NeueMontreal-Medium.woff') format('woff'),
    url('fonts/NeueMontreal-Medium.ttf') format('truetype'),
    url('fonts/NeueMontreal-Medium.svg#NeueMontreal-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('fonts/NeueMontreal-Regular.eot');
    src: url('fonts/NeueMontreal-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/NeueMontreal-Regular.woff2') format('woff2'),
    url('fonts/NeueMontreal-Regular.woff') format('woff'),
    url('fonts/NeueMontreal-Regular.ttf') format('truetype'),
    url('fonts/NeueMontreal-Regular.svg#NeueMontreal-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
